.circular-progress-skill{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.circular-progress-svg{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);

}

#circular-progress-number{
    font-weight: 600;
    font-size: 30px;
}

.circular-progress-circle{
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 10px;

    stroke-dasharray: 450;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease;
    --circular-progress-circle-dash: 0;
}

.circular-progress-circle-progress{
    stroke-dashoffset: var(--circular-progress-circle-dash);
}

.progress-type{
    text-align: center;
}